# Step 3.1: GitHub Status Analysis

In [1]:
import os
from os import listdir
from os.path import isfile, join
from collections import Counter
import pandas as pd
import json

In [2]:
df = pd.read_csv('GitHubStatusCheckerResults.csv')
df

,Project,Buildable,Success,Fail,No,TotalCommits,% SUCCESS
0,Hystrix,2108,1115,994,0,2109,52.89
1,Jest,1146,457,690,0,1147,39.88
2,Twitter4J,2318,851,1467,0,2318,36.71
3,assertj-core,2855,2435,420,0,2855,85.29
4,aws-sdk-java,2496,2231,265,0,2496,89.38
5,bookkeeper,2230,250,2008,0,2258,11.21
6,commons-lang,5723,4943,781,0,5724,86.37
7,connectbot,1727,0,1791,0,1791,0.00
8,docker-java,1982,977,1006,0,1983,49.29
9,elasticsearch-hadoop,1983,0,1983,0,1983,0.00
10,fastjson,3514,2677,838,0,3515,76.18
11,httpcomponents-client,3099,1944,1175,0,3119,62.73
12,incubator-pinot,6903,1594,5321,0,6915,23.09
13,jackson-databind,6475,1503,4972,0,6475,23.21
14,jacoco,826,0,1676,0,1676,0.00
15,java-client,1473,424,1093,0,1517,28.78
16,java-driver,1398,770,628,0,1398,55.08
17,javaparser,6487,5998,497,0,6495,92.46
18,jgit,7798,6723,1124,0,7847,86.21
19,json-schema-validator,2787,2407,380,0,2787,86.37
20,jsprit,2028,1052,1041,0,2093,51.87
21,junit4,2425,1125,1307,0,2432,46.39
22,kairosdb,277,242,1126,0,1368,87.36
23,log4j,2898,133,3142,0,3275,4.59
24,mina,2400,1218,1183,0,2401,50.75
25,mockito,5240,2984,2267,0,5251,56.95
26,nifi,4742,0,5786,0,5786,0.00
27,opengrok,5154,2683,2472,0,5155,52.06
28,pig,3692,518,3175,0,3693,14.03
29,powermock,1607,606,1001,0,1607,37.71
30,quickstart,1787,986,1153,0,2139,55.18
31,spring-data-jpa,1406,535,872,0,1407,38.05
32,spring-security-oauth,1382,535,848,0,1383,38.71
33,swagger-core,3705,1798,1908,0,3706,48.53
34,thymeleaf,1653,0,1654,0,1654,0.00
35,wiremock,1368,10,1817,0,1827,0.73
36,zxing,3502,856,2671,0,3527,24.44

In [3]:
df['% SUCCESS'].describe()

count    37.000000
mean     43.040000
std      29.895102
min       0.000000
25%      23.090000
50%      46.390000
75%      56.950000
max      92.460000
Name: % SUCCESS, dtype: float64

In [4]:
df[['TotalCommits']].describe()

       TotalCommits
count     37.000000
mean    3111.135135
std     1825.441243
min     1147.000000
25%     1791.000000
50%     2401.000000
75%     3693.000000
max     7847.000000

In [5]:
# Sum of each field
df[["Buildable","Success","Fail","No","TotalCommits"]].sum()

Buildable       110594
Success          52580
Fail             62532
No                   0
TotalCommits    115112
dtype: int64

In [6]:
# Average
df[["Success","Fail","No","TotalCommits","% SUCCESS"]].mean()

Success         1421.081081
Fail            1690.054054
No                 0.000000
TotalCommits    3111.135135
% SUCCESS         43.040000
dtype: float64

In [7]:
q1 = df['TotalCommits'].quantile(0.25)
q1

1791.0

In [8]:
q3 = df['TotalCommits'].quantile(0.75)
q3

3693.0

### Short projects

In [9]:
# Short proyects (< 1791 commits)
short_df = df[ df['TotalCommits']< q1 ]
short_df['% SUCCESS'].describe()

count     9.000000
mean     36.174444
std      26.634741
min       0.000000
25%      28.780000
50%      38.050000
75%      39.880000
max      87.360000
Name: % SUCCESS, dtype: float64

In [14]:
# Sum of each field
short_df[["Buildable","Success","Fail","No","TotalCommits"]].sum()

Buildable       11168
Success          3569
Fail             9588
No                  0
TotalCommits    13157
dtype: int64

### Medium projects

In [10]:
# Medium proyects (> 1791 commits & < 3693)
medium_df = df.query('TotalCommits >= %d and TotalCommits < %d'%(q1,q3))
medium_df['% SUCCESS'].describe()

count    18.000000
mean     43.555556
std      30.770324
min       0.000000
25%      14.517500
50%      50.020000
75%      60.842500
max      89.380000
Name: % SUCCESS, dtype: float64

In [11]:
# Sum of each field
medium_df[["Buildable","Success","Fail","No","TotalCommits"]].sum()

Buildable       43507
Success         20267
Fail            24641
No                  0
TotalCommits    44908
dtype: int64

### Large projects

In [12]:
# Large proyects (> 3693)
large_df = df[ df['TotalCommits'] >= q3 ]
large_df['% SUCCESS'].describe()

count    10.000000
mean     48.291000
std      32.826117
min       0.000000
25%      23.120000
50%      50.295000
75%      78.895000
max      92.460000
Name: % SUCCESS, dtype: float64

In [13]:
large_df[["Buildable","Success","Fail","No","TotalCommits"]].sum()

Buildable       55919
Success         28744
Fail            28303
No                  0
TotalCommits    57047
dtype: int64

## Check number of builds of each Build System

In [11]:
projects = [f for f in listdir("/home/results/GitHub/")]
build_systems = []
for project in projects:
    path = join("/home/results/GitHub/", project)
    build_path = join(path, "experiment_1/build_files/")
    for build_file in listdir(build_path):
        with open(join(build_path, build_file)) as f:
            bs = json.load(f)
            build_systems.append((bs['build_system']))

In [12]:
counter = Counter(build_systems)
counter

Counter({'Maven': 83951, 'Gradle': 11416, 'NOT_FOUND': 4518, 'Ant': 15227})

In [13]:
total_commits = df['TotalCommits'].sum()
print("Maven: {:.2f}%".format(counter['Maven']*100/total_commits))
print("Gradle: {:.2f}%".format(counter['Gradle']*100/total_commits))
print("Ant: {:.2f}%".format(counter['Ant']*100/total_commits))

Maven: 72.93%
Gradle: 9.92%
Ant: 13.23%